body html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}
.container-1{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 1em;
    background: saddlebrown;
    text-align: center;
    padding: 2em;
    
}

.container-1 img {
    width: 120px;
    height: 150px;
    margin: 8px;
    border-radius: 10%;
}

.container-2 {
    margin-left: 1em;
}
.profile p {
    color: saddlebrown
}
section{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: saddlebrown;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    font-size: 0.85rem;
    color: blue;
}

.obj {
    margin-top: 10px;
}
h3 {
    background: saddlebrown;
    opacity: 0.8;
    color: #ffffff;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
}


.edu {
    display: flex;
    
}

.date {
    margin-left: 20%;
}

@media screen and (max-width: 768px) {
    * {
        max-width: 100%;
    }
}